.rozha-one-regular {
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
}

.first-color {
    color: #3950C5;
}

.fondo-1 {
    background: rgb(198, 207, 254);
    background: linear-gradient(90deg, rgba(198, 207, 254, 1) 19%, rgba(121, 129, 169, 1) 100%);
}

.fondo-2 {
    background: rgb(115, 135, 237);
    background: linear-gradient(90deg, rgba(115, 135, 237, 1) 19%, rgba(0, 25, 157, 1) 100%);
}


.boton-1 {
    background: #3950C5;
    color: white;
}

.boton-0 {
    background: white;
    color: #000;
}